<!DOCTYPE html>
<html lang="ru">
    <link rel="stylesheet" href="auth.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои заявки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav aria-label="Навигация">
        <button id="back-button" class="btn btn-link" aria-label="Вернуться назад">
            <img src="image.png" alt="" role="presentation" width="60">
        </button>
    <div class="container">
        <h1>Мои заявки</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Услуга</th>
                    <th>Сумма</th>
                    <th>Статус</th>
                    <th>Тип оплаты</th>
                    <th>Пожелания</th>
                </tr>
            </thead>
            <tbody id="requests-table-body">
            </tbody>
        </table>
    </div>
    <script src="user-requests.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
     const backButton = document.getElementById("back-button");

backButton.addEventListener("click", () => {
    window.location.href = "request.html";
});
</script>
</html>